Outputs/*
IGTD1dto2d/IGTD_Functions.py.old
IGTD1dto2d/IGTD-results30Com
IGTD1dto2d/IGTD-results70Com
IGTD1dto2d/check.ods
IGTD1dto2d/oldfiles
IGTD1dto2d/__pycache__
omniglot-fewshot/IGTD-results_for_omniglot
omniglot-fewshot/output.csv
omniglot-fewshot/__pycache__
omniglot-fewshot/IGTD-results_for_omniglot
Models/*
Torches/*
Results/*
*/__pycache__/*